  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  } 

  .fa-ebay {
    background: #edf5a7;
  } 
  
  .fa-envelope-square {
    background: #be2600;
    color: white;
  } 

  .media{
    padding: 10px;
  }